# Created by venv; see https://docs.python.org/3/library/venv.html
*

# Виртуальное окружение
.venv/

# Кэш Python
__pycache__/
*.pyc

# Файлы с секретами и API-ключами
.env

# База данных
*.sqlite3
*.db
